# AutoHotKey archived items

AutoHotkey.chm
AutoHotkeyA32.exe
AutoHotkeyU32.exe
AutoHotkeyU64.exe
Compiler/
Installer.ahk
Template.ahk
WindowSpy.ahk
license.txt

# Congifure files

Config/*.ini
Config/*.ahk
