;===============================================================================
; テキストエディタの設定
;===============================================================================
[Editor]
; テキストエディタのパス
Path = 

;===============================================================================
; 変換/無変換 修飾キーの設定
;===============================================================================
[HM_Modifier]
; 変換/無変換 修飾キーを有効にするかどうか
Enable =true
; 変換キーに割り当てる修飾キー
Henkan =^
; 無変換キーに割り当てる修飾キー
Muhenkan =!
; 変換と無変換キー同時押しに割り当てる修飾キー
Henkan_Muhenkan =^!
; キーリピート処理に入るまでの時間[s]
KeyRepeatDelay =0.25
; キーリピート間隔[s]
KeyRepeatInterval = 0.01
