;***********************************************************************************************
; 
; ホットキー割り当て
; 
;***********************************************************************************************
;***********************************************************************************************
; AutoHotKeyのリロード
;***********************************************************************************************
^!PrintScreen::Reload

;***********************************************************************************************
; x2キー割り当て
;***********************************************************************************************
; ※修飾キーに割り当てる場合は '~' をつけること。つけないと修飾キーが無効化されてしまう。
~RShift::x2Key("RShift", ["PopupLauncher", "C"])
~LShift::x2Key("LShift", ["TextBuffer", "M"])
~LCtrl::x2Key("LCtrl", ["ClipboardHistory", "M"])

;***********************************************************************************************
; マウスボタン割り当て
;***********************************************************************************************
WheelRight::PopupLauncher("M")

;***********************************************************************************************
; 変換/無変換 修飾キー割り当て
;***********************************************************************************************
; [半角/全角] の割り当て
*vkF0::ToggleIME() ; [Caps Lock/英数]

; 方向キーの割り当て
*h::HMKey("h", {"Left"}, "{Home}", "{Del}")
*k::HMKey("k", {"Up"}, "{PgUp}")
*j::HMKey("j", {"Down"}, "{PgDn}")
*l::HMKey("l", {"Right"}, "{End}")

; Enter, BackSpace, Delete, Esc の割り当て
*m::HMKey("m", "{Enter}", "{BS}")
*n::HMKey("n", "{Esc}", "{Del}")

;***********************************************************************************************
; マウスホイール
;***********************************************************************************************
; 垂直方向にスクロール
*WheelUp::WheelRedirect(0, 0)
*WheelDown::WheelRedirect(1, 0)

; 水平方向にスクロール
+WheelUp::WheelRedirect(0, 1)
+WheelDown::WheelRedirect(1, 1)
