;***********************************************************************************************
;
; テキストバッファのメニュー項目
;
;***********************************************************************************************
; ■メニューには次の項目を指定することができます。メニューは指定した順に表示されます。
;   [Text]        ：挿入したいテキストを設定します。
;   [Separator]   ：メニュー区切りを挿入します。
;   [SubMenu]     ：サブメニューを挿入します。
;
; ■メニュー項目の書式は次の通りです。
;   [Section]           ← "Section"に、メニュー項目の種類を指定します。
;       Key =Value      ← "Key"は設定項目名で、"Value"はその設定値です。
;                          "Key"から"="までの間は、スペースを挿入しても構いませんが、
;                          "="から"Value"の間は、スペースを入れないようにして下さい。
;
; ■メニューのグループについて。
;   各メニュー項目にグループ番号を指定することで、メニューを階層化することができます。
;   トップメニューはグループ0です。サブメニューを追加する場合は、
;   そのサブメニューが所属するグループ番号と、サブメニュー自身のグループ番号を指定します。
;
;   グループ0
;   ┌────────┐
;   │　　　項目　　　│
;   ├────────┤
;   │　　　項目　　　│　グループ1
;   ├────────┤　┌────────┐
;   │　サブメニュー　│→│　　　項目　　　│
;   ├────────┤　├────────┤
;   │　　　項目　　　│　│　　　項目　　　│
;   └────────┘　└────────┘
;
; ■次の説明に従って、各メニュー項目を設定して下さい。
;   [Text]
;   Group   =1                          ; メニュー項目を表示するメニューのグループ番号
;   Name    =メール署名                 ; メニュー項目名
;   Line    =---------------------      ; 挿入したいテキスト(1行目)
;   Line    =株式会社○○ △△部 ××課 ; 挿入したいテキスト(2行目)
;   Line    =田中 太郎                  ; 挿入したいテキスト(3行目)
;   Line    =                           ; 挿入したいテキスト(4行目)
;   Line    =Mail:12345@tanaka.jp       ; 挿入したいテキスト(5行目)
;   Line    =---------------------      ; 挿入したいテキスト(6行目)
;   ※テキストの行数分、"Line" の行を追加して下さい。
;
;   [Separator]
;   Group   =0                          ; メニュー区切りを表示するメニューのグループ番号
;
;   [SubMenu]
;   Parent  =0                          ; サブメニューを表示するメニューのグループ番号
;   Group   =2                          ; サブメニュー自身のグループ番号
;   Title   =テキスト処理               ; サブメニュー項目名

;---------------------------------------------------------------
[SubMenu]
Parent  =0
Group   =1
Title   =定型文

[Text]
Group   =1
Name    =メール署名
Line    =---------------------------------------- 
Line    =株式会社○○ △△部 ××課
Line    =田中 太郎
Line    =Mail:12345@tanaka.jp
Line    =Tell:0-0000-0000
Line    =住所：〒100-0000 東京都○○区××町△番
Line    =----------------------------------------

;---------------------------------------------------------------
[SubMenu]
Parent  =0
Group   =2
Title   =個人情報

[Text]
Group   =2
Name    =メールアドレス
Line    =email@example.com

[Text]
Group   =2
Name    =住所
Line    =〒000-0000
Line    =東京都○○区××町△番
